
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

body{
 color:red;
 font-size: 200px;
 font-family: 'Bebas Neue',sans-serif;
background-color: black;



}
 